h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #0549a2b7;
  }
   body
   {
    background-color: #0c4897b7;
   }
  
  label {
    color: rgb(23, 22, 22);
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="email"],
  input[type="password"] {

    position: relative;
    left: 650px;
    display: block;
    padding: 10px 70px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #7d4646;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: rgb(18, 14, 14);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 70px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
    font-size: 16px;
  }