.Survey-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Survey-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Survey-Content label {
    font-size: medium;
    font-weight: bold;
    color:black
}

.Survey-Content input {
    height: 20px;
    width: 500px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 4px;
}

#TypeOfBusinessInput  {
    height: 20px;
    width: 522.5px;
}

#UtilityProviderInput  {
    height: 20px;
    width: 522.5px;
}

#co2Emission {
    height: 20px;
    width: 750px;
}

#co2EmissionValues {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 750px;
  }
  
  #co2EmissionValues option {
    padding: 0;
  }
  